*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(27, 10, 58);
}
.flex
{
    display: flex;
    align-items: center;
    
}
.nav-bar
{
    margin: 10px 0px;
    justify-content: space-between;
    padding-left: 20px;
    
}
#user
{
    border-radius: 100%;
}
.nav-bar input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    font-size: 17px;
  }
.box1
{
    width: 40%;
    justify-content: space-between;
   
}
.box2
{
    width: 30%;
    justify-content: space-evenly;
}
#head1
{
    font-size: 20px;
    color: whitesmoke;
}