body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(14, 5, 29);
}
.flex
{
    display: flex;
    align-items: center;
    
}
.nav-bar
{
    padding-top: 10px;;
    justify-content: space-between;
    flex-wrap: no-wrap;
    height: auto;
    width: auto;
    padding-left: 10px;
    padding-right: 0px;
}
#user
{
    border-radius: 100%;
}

.box1
{
    width: 40%;
    justify-content: space-between;
   
}
.box2
{
    width: 30%;
    justify-content: space-evenly;
}
#head1
{
    font-size: 20px;
    color: whitesmoke;
}
.search-bar {
	width: 60%;
	position: relative;
    border-radius: 18px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    justify-content: space-evenly;
    padding-right: 5px;
    padding-left: 5px;
}

.search-bar input {
	width: 100%;
	font-size: 16px;
	text-decoration: none;
	border: none;
	padding: 5px;
	font-weight: 500;
	text-align: center;
    display: inline-block;
    background-color: whitesmoke;
}
.search-ico {
	color: rgba(34, 33, 33, 0.5);
    width: 1em;
    height: 1em;
    display: inline-block;
    
    background-color: whitesmoke;
}

.mic-ico {
	color: rgba(36, 33, 33, 0.5);
    width: 1em;
    height: 1em;
    display: inline-block;
    
    background-color: whitesmoke;
}

input:focus {
	outline: none;
}